<!-- Este es mi codigo Juan-->
<div class="d-flex bg-light container-fluid p-4 mt-5">
    <div class="col-8 ">
        <div class="d-flex">
           <h3>The First Heading &nbsp;</h3>
           <h3 class="text-secondary"> Will Catch Your Eye</h3>
        </div>   
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ipsum officia, quos iure quibusdam adipisci commodi eaque pariatur voluptatem tenetur assumenda perferendis saepe eveniet laborum? Praesentium fuga sapiente nisi facilis?</p>
        
    </div>
    <div class="col-3  d-flex align-items-end flex-column">
        <img  src="https://picsum.photos/300/300" class="rounded float-end rounded-circle"
        "  alt="...">
    </div>
</div> 