<!-- Este es mi codigo Juan-->
<div class="d-flex bg-light container-fluid p-4 ">
    <div class="col-8 align-self-center">
        <div class="d-flex">
           <h3>The First Heading &nbsp;</h3>
           <h3 class="text-secondary"> Will Catch Your Eye</h3>
        </div>   
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ipsum officia, quos iure quibusdam adipisci commodi eaque pariatur voluptatem tenetur assumenda perferendis saepe eveniet laborum? Praesentium fuga sapiente nisi facilis?</p>
        
    </div>
    <div class="col-3  d-flex align-items-end flex-column">
        <img  src="https://www.latercera.com/resizer/MTzvdaEghM3kmYlNyvDwd777azk=/200x200/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/Z7EZ5LZ3C5DCJNZAWNYYR2QKG4.jpg" class="rounded float-end rounded-circle"
        "  alt="...">
    </div>
</div> 