<!-- your html code here -->
<div id="services" class= " row d-flex flex-wrap p-5 mx-0 bg-light mt-5">
    <div class="col-3">
        <img src="https://picsum.photos/300/300" class="img-fluid rounded float-start rounded-circle" alt="...">
    </div>
    <div class="col-8">
        <h3>
            The Second Heading
            <small class="text-muted">Is Pretty Cool Too.</small>
          </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam corporis atque tempore totam nam temporibus reprehenderit. 
            Sequi praesentium saepe, sed voluptatum vitae minima, ipsa quas maxime facilis sapiente veniam distinctio?
        </p>
    </div>
</div>

<!-- container-fluid justify-content-center -->