<!-- your html code here -->
<div id="services" class= " row d-flex flex-wrap p-5 mx-0 bg-light">
    <div class="col-3">
        <img src="https://format-com-cld-res.cloudinary.com/image/private/s--PuXjJ4ms--/c_crop,h_3915,w_7200,x_0,y_0/c_fill,g_center,h_400,w_400/fl_keep_iptc.progressive,q_95/v1/38952659b0bab8f0b436528a253807bd/noblesarvodone.jpg" class="img-fluid rounded float-start rounded-circle" alt="...">
    </div>
    <div class="col-8">
        <h3>
            The Second Heading
            <small class="text-muted">Is Pretty Cool Too.</small>
          </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam corporis atque tempore totam nam temporibus reprehenderit. 
            Sequi praesentium saepe, sed voluptatum vitae minima, ipsa quas maxime facilis sapiente veniam distinctio?
        </p>
    </div>
</div>

<!-- container-fluid justify-content-center -->