<!-- your html code here -->
<!-- <p>Hello, I'm the tagline and I was loaded using ajax from templates/tagline.html</p>-->

<div class="container-fluid">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Miami_skyline_20080328.jpg" alt="img"
        style="width: 100%;">
    <div class="text">
        <h1>One Page Wonder</h1>
    </div>
    <br>
    <div class="texto">
        <h2>Will Knock Your Socks Off</h2>
    </div>
</div>

<style>
    .container-fluid {
        position: relative;
        display: inline-block;
        text-align: center;
    }


    .text {
        background-color: azure;
        z-index: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .texto {
        background-color: azure;
        z-index: 300;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>