<div class="card bg-white text-dark border-0">
    <img src="https://news.cgtn.com/news/35457a4e3067544f3559444d7a51544d32676a4e31457a6333566d54/img/83bb0caa02b14900bda73f5aa4c4049b/83bb0caa02b14900bda73f5aa4c4049b.png"
        class="card-img" alt="img">
    <div class="card-img-overlay mt-5">
        <h1 class="card-text bg-white text-center display-1 font-weight-bold">One Page Wonder</h1>
        <h2 class="card-text bg-white text-center display-4 font-weight-bold">Will Knock Your Socks Off</h2>
    </div>
</div>